[submodule "PluginCore"]
	path = PluginCore
	url = https://github.com/MakesYT/PluginCore.git
[submodule "NodifyM.Avalonia"]
	path = NodifyM.Avalonia
	url = https://github.com/MakesYT/NodifyM.Avalonia/
[submodule "PinyinM.NET"]
	path = PinyinM.NET
	url = https://github.com/MakesYT/Pinyin.NET
[submodule "ModernInstaller"]
	path = ModernInstaller
	url = https://github.com/MakesYT/ModernInstaller
