<?xml version="1.0" encoding="utf-8"?>
<Package
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
        xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
        xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
        xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
        xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
        IgnorableNamespaces="uap uap10 rescap desktop4 desktop5 com">

  <Identity
          Name="Kitopia"
          Publisher="CN=Kitopia"
          Version="1.0.0.0"
          ProcessorArchitecture="x64"/>

  <Properties>
    <DisplayName>Kitopia</DisplayName>
    <PublisherDisplayName>Kitopia</PublisherDisplayName>
    <Logo>Assets\icon.png</Logo>
    <uap10:AllowExternalContent>true</uap10:AllowExternalContent>
  </Properties>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources"/>
  </Capabilities>

  <Applications>
    <Application Id="Kitopia" Executable="KitopiaAvalonia.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
              DisplayName="Kitopia"
              Description="Kitopia"
              BackgroundColor="#000000"
              Square150x150Logo="Assets\icon.png"
              Square44x44Logo="Assets\icon.png">
      </uap:VisualElements>
      <Extensions>

        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>

            <desktop5:ItemType Type="*">
              <desktop5:Verb Id="KitopiaFile" Clsid="60DA6757-67FE-B7CE-8195-3EFD30746B23" />
            </desktop5:ItemType>

            <desktop5:ItemType Type="Directory">
              <desktop5:Verb Id="KitopiaDir" Clsid="60DA6757-67FE-B7CE-8195-3EFD30746B23" />
            </desktop5:ItemType>

            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb Id="KitopiaBg" Clsid="60DA6757-67FE-B7CE-8195-3EFD30746B23" />
            </desktop5:ItemType>

          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>

        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="Kitopia Context Menu">
              <com:Class Id="60DA6757-67FE-B7CE-8195-3EFD30746B23" Path="ContextMenuDll.dll" ThreadingModel="STA"/>
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>

      </Extensions>
    </Application>
  </Applications>
</Package>